@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Välkommen till Bokning System</h1>
    <p>
        I denna webbplats kan du enkelt boka en tid för tjänst.
		<br />Du kan även se dina bokningar , avboka eller omboka dem vid behov.
     </p>
</div>
